'use strict'

let mongoose = require('mongoose')
let Schema = mongoose.Schema

let __targetNameJoker__Schema = Schema({
  __modelAttributes__
})

// creates document if not exists
module.exports = mongoose.model('__targetNameJoker__', __targetNameJoker__Schema)