<!DOCTYPE html>
<html>
<head>
  <title>real-men API tester</title>
  <style>
    {{> api_tester_css}}
  </style>
</head>
<body>
<h2>real-men API tester</h2>
<div class="container">
  {{#each items}}
    {{> api_tester_block entity=this}}
  {{/each}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script type="text/javascript">
  function getDataHolder(entity) {
    return document.getElementById('data-holder-for-' + entity);
  }

  function getJsonOutput(entity) {
    return document.getElementById('json-output-for-' + entity);
  }

  function saveNew(entity) {
    var content = getDataHolder(entity).value;

    axios.post('/api/saveNew' + entity, { data: content }).then(function (response) {
      var target = getJsonOutput(entity);
      target.innerHTML = JSON.stringify(response.data, null, 2);
    }).catch(function(error) { console.error(error); });
  }

  function getAllFrom(entity) {
    axios.get('/api/getAllFrom' + entity).then(function (response) {
      var target = getJsonOutput(entity);
      target.innerHTML = JSON.stringify(response.data, null, 2);
    }).catch(function(error) { console.error(error); });
  }
</script>
</body>
</html>
