'use strict'

const { initDatabase } = require('./db')
const { app, initExpress } = require('./app')

let port = process.env.PORT || __targetNodePort__

initDatabase().then(() => {
  initExpress()

  app.listen(port, err => {
    if (err) {
      console.error("Error trying to run server", err)
    } else {
      console.log(200)
    }

  })
}).catch(error => {
  console.log(error)
})
