'use strict'

let mongoose = require('mongoose')
let Schema = mongoose.Schema

let __targetNameJoker__Schema = Schema({
    exampleData: { type: String, default: 'data example for __targetNameJoker__' }
})

module.exports = mongoose.model('__targetNameJoker__', __targetNameJoker__Schema)// creates document if not exists