'use strict'

var mongoose = require('mongoose');
var Schema = mongoose.Schema;

var __targetNameJoker__Schema = Schema({
    exampleData: { type: String, default: 'data example for __targetNameJoker__' }
});

module.exports = mongoose.model('__targetNameJoker__', __targetNameJoker__Schema);// creates document if not exists